body {
  text-align: center; 
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  margin: -15px 0 5px 0;
}
#header {
  min-width: 950px; 
  margin: 0 auto;
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#score {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Tahoma', cursive;
  position: relative;
}
.count-points, .count-clicks {
  display: inline-block;
  background-color: #4adb10;
  padding: 10px 10px;
  border-radius: 80px;
}

#container {
  min-width: 950px; 
  margin: 0 auto;
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.modal-winner {
  
  z-index: 99999;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  opacity: 0.9;
  background-color: rgb(13, 173, 13);
  text-align: center;
  margin: auto;
  border-radius: 20px;
  border: 2px solid  rgb(8, 70, 8);
  font-size: 80px;
  padding-top: 60px;
  font-family: 'Pacifico', cursive;
  transition: 1s ease;
}

footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  margin: 0 auto;
  font-size: 14px;
}
.card {
  /* outline: 1px solid black; */
  perspective: 1000px;
  /* border-radius: 5px; */
  box-sizing: border-box;
  /* width: calc(1/4*100% - (1 - 1/4)*10px); */
  width: 230px;
  height: 230px;
  margin-bottom: 5px;
}
.card .front, .card .back {
  background-size: cover;
  width: 100%;
  height: 100%;
  
  
}
.card .back {
  border-radius: 50%;
  box-shadow: inset 0px 0px 12px rgba(0,0,0,0.9)
}

/*******************************/
/* for flip */
/* entire container, keeps perspective */
.card {
	perspective: 1000px;
}

/* flip speed goes here */
.card {
	transform-style: preserve-3d;
  position: relative;

}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(180deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(0deg);
}

.close {
  transform: rotateY(180deg)
}

.card.hide-finished  {
    transform: scale(0.5);
    opacity: 0;
}



@keyframes effect_disabled_clicks {
  50% {
    /* transform: scale(1.2, 1.2); */
    opacity: 0.5;
  }
  99% {
    /* transform: scale(1.1, 1.1); */
    opacity: 0.7;
  }
  100% {
      transform: scale(1.0, 1.0);
      /* opacity: 1; */
    }
}



