body {
  text-align: center;
}
#container {
  width: 100%;
  height: 80vh;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */

}
.card {
  width: 25%;
  height: 22%;
}
.card img {
  width: 100%;
}